<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Geoparsing with Geoparsepy</title>
    <script src="{{url_for('static', filename='jquery-2.2.2.min.js')}}"></script>
    <script src="{{url_for('static', filename='leaflet/leaflet.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='leaflet/leaflet.css')}}">
</head>
<body>
<h4>Geben Sie hier Ihren Text ein (Als Demo ist ein Datensatz für Australien und Neuseeland hinterlegt, d.h. es können nur Ortsnamen aus diesem Bereich geparsed werden.):</h4>
<form method="post" action="/result" >
    <textarea name="parsetext" placeholder="Gehmer in Acton Park Schnitzel essen und dann in Aberdare ein Eis aber nur wenn in Derbyshire noch Licht brennt" style="width:600px; height:300px;"></textarea>
    <br><br>
    <input type="submit" value="Geoparse" name="ok"/>
</form>
</body>
</html>
